<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="/assets/css/styles.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" data-no-mirror>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a1cad7ed9a.js" crossorigin="anonymous" data-no-mirror></script>
        <script src="https://cdn.jsdelivr.net/npm/mermaid@8.4.8/dist/mermaid.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js" data-no-mirror></script>
        
		@RenderSection(SectionNames.Head, false)

        @{
            string title = @Document.ContainsKey(Keys.Title) ? $"Statiq - {Document.GetString(Keys.Title)}" : "Statiq";
        }
        <title>@title</title>
    </head>
    <body class="d-flex flex-column">
        <div class="flex-grow-1 d-flex flex-column">
            <div class="bg-red">
                <div class="container-xl">
                    <div class="text-center text-white p-4">This is an early build of the site and information may not be accurate or complete.</div>
                </div>
            </div>
            <nav id="topnav" class="navbar navbar-expand-md navbar-light">
                <div class="container-xl py-3">
                    <a class="navbar-brand" href="/"><img id="logo" src="/assets/statiq.svg" alt="Statiq Framework"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse-target" aria-controls="collapse-target" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse collapse-target">
                        <ul class="navbar-nav mr-auto">
                            <li id="nav-web" class="nav-item">
                                <a class="nav-link text-blue font-weight-light font-size-lg" href="/web">Web</a>
                            </li>
                            <li class="nav-item mx-3 border-right d-none d-lg-block"></li>
                            <li id="nav-docs" class="nav-item">
                                <a class="nav-link text-orange font-weight-light font-size-lg" href="/docs">Docs</a>
                            </li>
                            <li class="nav-item mx-3 border-right d-none d-lg-block"></li>
                            <li id="nav-framework" class="nav-item">
                                <a class="nav-link text-purple font-weight-light font-size-lg" href="/framework">Framework</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            @*
                            <li class="nav-item">
                                <a class="nav-link" href="/api">API</a>
                            </li>
                            *@
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/statiqdev"><i class="fab fa-github"></i> GitHub</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="/license">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @if (IsSectionDefined(SectionNames.Splash))
            {
                @RenderSection(SectionNames.Splash, false)
            }
            @{
                string section = Document.Destination.Segments.Length > 1 ? Document.Destination.Segments[0].ToString() : null;
            }
            <div class="flex-grow-1 d-flex flex-column @(section != null ? "section-undefined section-" + section : null)">
                @if(section != null)
                {
                    <div id="titlebar" class="py-4">
                        <div class="container-xl">
                            <div class="row">
                                @{ 
                                    string titleBarClasses = Document.GetBool(SiteKeys.NoSidebar) ? string.Empty : "offset-md-3 offset-lg-2";
                                }
                                <div class="@titleBarClasses px-3 px-md-0">
                                    <div class="section text-uppercase">@(section)</div>
                                    <div class="text-white m-0 title">@(Document.GetString(Keys.Title) ?? Document.GetTitle())</div>
                                    @if (IsSectionDefined(SectionNames.Subtitle))
                                    {
                                        @RenderSection(SectionNames.Subtitle, false)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="undertitle">
                        <div class="container-xl">                            
                            <div class="row">
                                @if (Document.GetBool(SiteKeys.NoSidebar))
                                {
                                    <div class="col bg-white">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 col-lg-2 bg-section">
                                    </div>
                                    <div class="col-md-9 col-lg-8 bg-white">
                                    </div>
                                }
                                <div class="col-lg-2 d-none d-lg-block bg-section">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="flex-grow-1 d-flex flex-column">
                    @if (Document.GetBool(SiteKeys.NoContainer))
                    {
                        <div class="bg-white">
                            @RenderBody()
                        </div>
                    }
                    else
                    {
                        <div class="container-xl flex-grow-1 d-flex flex-column">
                            <div class="row flex-grow-1 align-items-stretch">
                                @{ 
                                    IDocument root = Outputs[nameof(Content)].FirstOrDefault(x => x.Destination == section + "/index.html");

                                    if (root == null || Document.GetBool(SiteKeys.NoSidebar))
                                    {
                                        if (IsSectionDefined(SectionNames.Sidebar))
                                        {
                                            IgnoreSection(SectionNames.Sidebar);
                                        }

                                        <div class="col p-4 pt-md-0 bg-white">
                                            @RenderBody()
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3 col-lg-2 bg-body p-0">
                                            <div class="sidebar collapse collapse-target">
                                                @if (IsSectionDefined(SectionNames.Sidebar))
                                                {
                                                    @RenderSection(SectionNames.Sidebar, false)
                                                }
                                                else
                                                {
                                                    <div class="sidebar-nav-item @(Document.IdEquals(root) ? "active" : null)">
                                                        @Html.DocumentLink(root)
                                                    </div>

                                                    @foreach (IDocument document in root.GetChildren())
                                                    {
                                                        <div class="sidebar-nav-item @(Document.IdEquals(document) ? "active" : null) @(document.HasChildren() ? "has-children" : null)">
                                                            @Html.DocumentLink(document)
                                                        </div>

                                                        @if (document.HasChildren())
                                                        {
                                                            <div class="sidebar-nav-children">
                                                                @foreach (IDocument child in document.GetChildren())
                                                                {                                                                
                                                                    <div class="sidebar-nav-item @(Document.IdEquals(child) ? "active" : null) @(child.HasChildren() ? "has-children" : null)">
                                                                        @Html.DocumentLink(child)
                                                                    </div>

                                                                    @if (child.HasChildren())
                                                                    {
                                                                        <div class="sidebar-nav-children">
                                                                            @foreach (IDocument child2 in child.GetChildren())
                                                                            {
                                                                                <div class="sidebar-nav-item @(Document.IdEquals(child2) ? "active" : null)">
                                                                                    @Html.DocumentLink(child2)
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-lg-8 p-4 pt-md-0 bg-white">
                                            @RenderBody()

                                            @if (!Document.GetBool(SiteKeys.NoChildPages) && Document.HasChildren())
                                            {
                                                <h4 class="h-section mb-2">Child Pages</h4>
                                                @foreach(IDocument child in Document.GetChildren())
                                                {
                                                    string excerpt = child.GetString(Statiq.Html.HtmlKeys.Excerpt);
                                                    <div>
                                                        <div class="p-3 mb-2 bg-light page-box">
                                                            <h4>@Html.DocumentLink(child)</h4>
                                                            @if(!string.IsNullOrEmpty(excerpt))
                                                            {
                                                                <div class="font-size-sm">@Html.Raw(excerpt)</div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                                <div class="col-lg-2 d-none d-lg-block bg-body pl-3 pt-3">
                                    @{
                                        IReadOnlyList<IDocument> headings = Document.GetDocumentList(Statiq.Html.HtmlKeys.Headings);
                                        if (headings.Count > 0)
                                        {
                                            <div class="border-bottom mb-3">
                                                <p class="small font-weight-bold">On This Page</p>
                                                @foreach (IDocument heading in headings)
                                                {
                                                    <p class="small"><a href="#@(heading.GetString(Statiq.Html.HtmlKeys.HeadingId))">@(await heading.GetContentStringAsync())</a></p>
                                                }
                                            </div>
                                        }
                                    }
                                    @if (Document.ContainsKey("EditLink"))
                                    {
                                        <p class="small font-weight-bold"><a href="@Document.GetString("EditLink")"><i class="fad fa-pencil"></i> Edit This Page</a></p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="footer" class="p-3 text-white font-size-sm">
            <div class="container-xl">
                <div>© @DateTime.Today.Year Statiq/Dave Glick</div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                mermaid.initialize(
                {
                    flowchart:
                    {
                        useMaxWidth: false
                    },
					startOnLoad: false,
					cloneCssStyles: false
                });     
                mermaid.init(undefined, ".mermaid");

                // Remove the max-width setting that Mermaid sets
                var mermaidSvg = $('.mermaid svg');
                mermaidSvg.addClass('img-responsive');
                mermaidSvg.css('max-width', '');

                // Make it scrollable
				var target = document.querySelector(".mermaid svg");
				if(target !== null)
				{
					var panZoom = window.panZoom = svgPanZoom(target, {
						zoomEnabled: true,
						controlIconsEnabled: true,
						fit: true,
						center: true,
                        maxZoom: 20,
                        zoomScaleSensitivity: 0.6
					});			                          

                    // Do the reset once right away to fit the diagram
                    panZoom.resize();
                    panZoom.fit();
                    panZoom.center();
                    
                    $(window).resize(function(){
                        panZoom.resize();
                        panZoom.fit();
                        panZoom.center();
                    });
				}
            });
        </script>
        
		@RenderSection(SectionNames.Scripts, false)
    </body>
</html>